body {
  background: red !important;
}

.app-container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
}

input {
  padding: 10px;
  width: 70%;
  background: white;
  border: 1px solid black;
  color: black;
}

button {
  padding: 10px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
  color: black;
}

ul {
  padding: 0;
}

li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: black;
}
